body {
  background: #141414;
  color: #ffffff;
  overflow-x: hidden;
}

.movie-app > .section {
  height: 90vh;  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-app .movie-row {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
}

.intro-content {
  text-align: center;
  width: 100%;
}

.carousel-container {
  margin-top: 20px;
  width: 100%;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.scroll-down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.scroll-down-arrow:hover {
  transform: translateX(-50%) scale(1.2);
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  width: 300px;
  margin: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.star-rating {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bi-star {
  cursor: pointer;
}

.bi-star:hover {
  fill: yellow;
}

.movie-app .heading {
  width: 100%;
  text-align: center;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.search-box {
  width: 300px;
  max-width: 100%;
  margin-bottom: 30px;
}

.centered-heading {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
}

.movie-list-heading {
  margin-top: 50px; /* Adjust as needed */
  display: flex;
  justify-content: center;
}

.sort-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}