body {
    background: #141414;
    color: #ffffff;
}

.movie-app > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
    width: 300px; /* Ensuring consistent width */
    margin: auto;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px; /* Adding margin to space out the elements */
}

.bi-star {
    cursor: pointer;
}

.bi-star:hover {
    fill: yellow;
}

.movie-app .heading {
    width: 100%;
    text-align: center;
}

.user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.search-box {
    width: 300px;
    max-width: 100%;
    margin-bottom: 30px;
}

.centered-heading {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
